# Atmel-ICE JTAG/SWD in-circuit debugger.
# The following port numbers are used auto-ocd.  Don't change them without also changing them in the auto-ocd source code 
adapter driver   cmsis-dap 
gdb_breakpoint_override hard
gdb_port 1234
telnet_port 1235
tcl_port 1236
adapter speed 10000
# Chip info 
source [find target/stm32f7x.cfg] 
